[submodule "blackburn"]
	path = blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/blackburn"]
	path = blog/themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
